.wrapper {
  width: 100%;
  padding: 80px 110px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.contactWrapper {
  gap: 59px;
}

.bodyUpperWrapper {
  align-items: center;
  gap: 140px;
  margin-bottom: 30px;
}

.bodyUpperLeftWrapper {
  gap: 40px;
}

.name {
  font-size: 75px;
  font-weight: 500;
  line-height: 90.77px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.description {
  font-size: 20px;
  font-weight: 400;
  line-height: 31.47px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  width: 400px;
  flex-shrink: 0;
}

.techTitle {
  font-size: 31px;
  font-weight: 600;
}

.techWrapper {
  display: flex;
  flex-direction: row;
  gap: 60px;
  padding-left: 42px;
}
