.wrapper {
  display: flex;
  flex-direction: column;
  gap: 80px;
  padding: 25px 80px;
}

.headerWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.titleWrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  gap: 30px;
}

.projectTitle {
  font-family: Inter;
  font-size: 52px;
  font-weight: 600;
  line-height: 62.93px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.projectSubtitle {
  color: #8b8b8b;
  font-size: 20px;
  font-weight: 500;
  line-height: 24.2px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  margin-bottom: 7px;
}

.linkWrapper {
  display: flex;
  flex-direction: row;
  gap: 70px;
}

.bodyWrapper {
  display: flex;
  flex-direction: row;
  gap: 80px;
}
