.flexRow {
  display: flex;
  flex-direction: row;
}

.flexColumn {
  display: flex;
  flex-direction: column;
}

/* .customTooltip .antTooltipInner {
  background: transparent !important;
  box-shadow: none !important;
  padding: 0 !important;
} */
